.link {
    color: #000000;
    text-decoration: none;
}

.activeLink {
    color: palevioletred;
    text-decoration: none;
}

.header {
    padding: 10px 40px;
    border-bottom: 1px solid grey;
}
.list {
    display: flex;
    list-style-type: none;
}
.item {
    margin-right: 20px;
}
.item:last-child {
    margin-right: 0;
}